@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body{
  color: #fff;
  background-color: #060417;
  cursor: url(cursor.svg) , auto;
  --scrollbar-color-thumb: hotpink;
  --scrollbar-color-track: blue;
  --scrollbar-width: thin;
  --scrollbar-width-legacy: 10px;
  background-image: url('./images/Graph.png'); /* Set your background image */
  background-size: cover; /* Optional: cover the entire element */
  background-repeat: no-repeat;
  background-position: center center; /* Center the image */
}
